.landing-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 20px;
}

.landing-page__image {
  width: auto;
  object-fit: fill;
}

.landing-page__content {
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-header__divider {
  color: #d3d3d3;
}

.landing-page__divider {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.landing-page__divider-right {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
}

.landing-page__divider-left,
.landing-page__divider-right {
  flex: 1;
}

.content-header h2 {
  color: #7E0202;
  font-size: 20px;
  text-shadow: #d3d3d3 1px 1px; 
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .landing-page__container {
    padding: 10px 20px;
  }
  .landing-page__divider {
    flex-direction: column;
    gap: 10px;
  }
}
