.course-form__page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
}

.course-form {
  list-style: none;
  padding: 1rem;
  width: 100%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  background: white;
}

.course-form__submit {
  padding: 0.5rem;
  font: inherit;
  color: white;
  background: #7e0202;
  border: 1px solid #7e0202;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
