.course-item {
  display: flex;
  width: 20rem;
  height: 18rem;
  list-style: none;
}

.course-item__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.course-item__name {
  color: #333;
  font-size: 1rem;
}

.course-item__content {
  display: flex;
  width: auto;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: white;
}

.course-item__image {
  width: auto;
  overflow: hidden;
}

.course-item__image img {
  width: 100%;
  object-fit: cover;
}

.course-item__info {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem 
}

.course-item__info h3 {
  width: fit-content;
  color: white;
  background-color: #800000;
  border-radius: 10px;
  padding: 0.6rem;
  margin: 0;
  font-size: 1.2rem;
}

.course-item__details {
  text-align: left;
  color: #333;
  font-size: 1rem;
}

