.main-header {
  background-color: #7e0202;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: relative;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-navigation__title {
  font-size: 1.8rem;
  margin: 0;
}

.main-navigation__title a {
  text-decoration: none;
  color: #ffffff;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto; /* Push right-side to the far right */
}

.right-side > button {
  background: none;
  border: none;
  cursor: pointer;
}

.bell-icon {
  color: #daa520;
  width: 2rem;
  height: 2rem;
}

.user-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
  display: none;
  position: absolute;
  left: 20px;
}

.header-icon {
  width: 50px; /* Adjust size as needed */
  height: auto;
}

/* Tablet and Mobile View */
@media (max-width: 1280px) {
  .header-icon,
  .main-navigation__title,
  .bell-icon {
    display: none;
  }
  .menu-btn {
    display: block;
  }

  .user-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/* Mobile View */
@media (max-width: 480px) {
  .main-header {
    padding: 15px 20px;
  }
}