nav {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #7e0202;
  font-size: 1rem;
  font-weight: bold;
  gap: 0.5rem;
}

.side-icon {
  font-size: 3.5rem;
}

.fill {
  background-color: #7e0202;
  color: white;
  border: #7e0202 solid 2px;
  border-radius: 10px;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .side-icon {
    font-size: 2rem;
  }
}
