.side-header {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

@media (max-width: 768px) {
  .side-header {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}
