.side-drawer {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 200;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.side-drawer nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.side-drawer nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  text-decoration: none;
  color: #7e0202;
  font-size: 1rem;
  font-weight: bold;
}

.side-icon {
  font-size: 1.5rem;
}
